body{
    margin: 0;
    padding: 0;
    font-family: 'Cascadia Code';
}
 
header .first-part{
    background-color: yellowgreen;
    text-align: center;
    height: 85px;
}

header nav .search-bar input{
    padding: 3px 5px;
}

header nav{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    /* word-spacing: 10px; */
    height: 50px;
    background-color: violet;
}

header .lists ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    margin: 0px 20px;
}

header .lists ul li{
    padding: 0px 10px;
}

main{
    background-color: seashell;
}

main .desc{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 3px;
}

main .products{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 78vh;
}

main .product:hover{
    position: relative;
    z-index: 2;
}

main .product{
    width: 280px;
    height: 320px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
    border-radius: 2px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 20px;
}

main .product img{
    width: 250px;
    height: 190px;
    border: none;
    border-radius: 5px;
    background-color: antiquewhite;
}


main .product button{
    padding: 3px 5px;
    background-color: rgb(59, 48, 48);
    border: rgb(59, 48, 48);
    color: white;    
    border: none;
    margin: 7px;
    padding: 3px 6px;
    cursor: pointer;
}

footer{
    text-align: center;
    /* height: 30px; */
    background-color: rgb(114, 69, 220);
    color: white;
    border-top: 2px solid black;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* padding-top: 15px; */
    margin-bottom: 0;
    line-height: 35px;
}